
a{
    &:hover{
        text-decoration:none;
    }
}
.navbar-fix{
    position:fixed;
    top:0;
    left:0;
    width:100vw;
    background-color:#c6cbcf80!important;
    z-index:100;
}

#content{
	min-height:90vh;
}
.vente {
	display: none;
}
.objectif {
	display: none;
}
.center{
	margin-right: 0;
	margin-left: 0;
	text-align: center;
}
.nb{
    background-color: rgba(51, 255, 0, 0.36);
}
#tab-coti{
    td{
        min-width:100px;
        text-align: center;
        font-size: 90%;
        font-weight:bold;
        .input{
            font-size:90%;
        }
    }
}
#year{
    min-width:150px;
}
.bloc-center{
	display: block;
	width: auto;
	margin-left: auto;
	margin-right: auto;
	text-align: center;
}
.bold{
	font-weight: bold;
}
.coti{
	display: none;
}
.date{
	display: none;
}
.dnone{
	display: none;
}

.perso-container{
    margin-top: 5%;
    margin-bottom: 5%;
}
.perso-container-2{
    margin-top: 5%;
    margin-bottom: 5%;
    padding-left: 2%;
    padding-right: 2%;
}
.perso-form-1{
    padding: 5%;
    box-shadow: 0 5px 8px 0 rgba(0, 0, 0, 0.2), 0 9px 26px 0 rgba(0, 0, 0, 0.19);
    border-radius: 5px;
}
.perso-form-1 legend{
    text-align: center;
    color: #333;
}
.fom-perso-2{
	padding: 0;
    box-shadow: 0 5px 8px 0 rgba(0, 0, 0, 0.2), 0 9px 26px 0 rgba(0, 0, 0, 0.19);
    background-image: url(../img/fond1.jpg);
    background-size: cover;
    background-position:top;
    border-radius: 5px;
}
.fom-perso-3{
	padding: 0;
    box-shadow: 0 5px 8px 0 rgba(0, 0, 0, 0.2), 0 9px 26px 0 rgba(0, 0, 0, 0.19);
    background-image: url(../img/fond1.jpg);
    background-size: cover;
    background-position:center;
    border-radius: 5px;
}
.fom-perso-4{
	padding: 0;
    box-shadow: 0 5px 8px 0 rgba(0, 0, 0, 0.2), 0 9px 26px 0 rgba(0, 0, 0, 0.19);
    background-image: url(../img/fond1.jpg);
    background-size: cover;
    background-position:bottom;
    border-radius: 5px;
}
.fom-perso-5{
    padding: 15%;
    box-shadow: 0 5px 8px 0 rgba(0, 0, 0, 0.2), 0 9px 26px 0 rgba(0, 0, 0, 0.19);
    background-image: url(../img/fond.jpeg);
    background-size: cover;
    background-position:center;
    border-radius: 5px;
    p, h2, h3{
        font-size:250%;
        color: #ff0048b3;
    }
}
.orange-text{
	color:#FF9900;
	font-size:120%;
}
#adh_table{
    font-size: 90%;
}
.input-group.md-form.form-sm.form-1 input{
    border: 1px solid #bdbdbd;
    border-top-right-radius: 0.25rem;
    border-bottom-right-radius: 0.25rem;
}
.search{
    background-color: #4dd0e1 !important;
}
.f404{
    background-image: url(../img/p404.png);
    background-size: cover;
}
.fond-404{
    width: inherit;
    height: inherit;
}
.solde{
    font-size:150%;
}
.transac{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.detail-transac{
    width:25%;
}
.citation{
  background-color: #c6cbcf80 !important;
}
.recette{
    color:green;
}
.depence{
    color:red;
}
.flex{
    display:flex;
    justify-content: space-beetween;
}
.part1{
    width:33%;
}
.part2{
    width:33%;
    text-align:center;
}
.part3{
    width:33%;
}
.bloc{
    display:contents;
}